/* Flight section. */

.flight-section {
  margin-left: 320px !important;
  position: relative;
  bottom: 26em;
  width: 77%;
}

.left-wrapper h1 {
  font-weight: 500;
}

/* flight-search */

.flight-search {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 300px;
  width: 700px;
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* 1-> inside flight-search  first div */

.select-way {
  display: flex;
  line-height: 24px;
  width: 614px;
  flex-direction: row;
  position: relative;
  margin-top: 1em;
  column-gap: 1em;
}

.icon-select-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}

.icon-select-wrapper2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  color: black;
  font-size: 30px;
}

.select-way-inner {
  font-size: 16px !important;
  line-height: 24px;
  font-weight: bold;
  min-width: 100px;
  position: relative;
  border: none;
  background-color: white;
  cursor: pointer;
}

.select-way-inner2 {
  font-size: 16px !important;
  line-height: 24px;
  font-weight: bold;
  min-width: fit-content;
  position: relative;
  border: none;
  background-color: white;
  cursor: pointer;
}

.select-way-inner:focus {
  outline: none;
}
.select-way-inner2:focus {
  outline: none;
}

/* 2-> inside flight-search Second div */

.select-catogories {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 30px;
  width: 614px;
  flex-direction: row;
  position: relative;
  margin-top: 2em;
}

.select-catogories div {
  font-size: 14px;
  border-radius: 16px;
  font-weight: 500;
  width: fit-content;
  border: 1px solid #e6e6e6;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 8px;
}

.select-catogories div:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

/* 3-> select-search-field  */

.select-search-fiels {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  font-size: 12px;
  height: 52px;
  line-height: 50px;
  width: 614px;
  margin-top: 2em;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

.select-where-to {
  display: flex;
  align-items: center;
  height: 50px;
  width: 300px !important;
}
.select-where-to input{
  border: none !important;
}
.select-where-to input:focus{
  outline: none;
}
.select-control {
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
  border: 1px solid #36c;
  border-radius: 50%;
}
.flight-icon {
  font-size: 25px;
  color: #868686;
  padding-left: 15px;
  padding-right: 15px;

}
.flight-icon2 {
  font-size: 20px;
  color: #36c;
  

}
.flight-icon + input {
  font-size: 16px !important;
  font-weight: 500;
}

.select-option1 {
  width: 614px;
  height: 56px;
  margin-top: 40px;
  border-radius: 5px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.calender1 {
  display: flex;
  align-items: center;
  width: 376px;
  height: 52px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 25px;
}

.flight-search-button {
  width: 190px;
  height: 52px;
  border-radius: 5px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.flight-search-button button {
  width: 190px;
  font-weight: 600;
  height: 52px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: #f77728;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.cancel-information {
  position: relative;
  width: 700px;
  height: auto;
  margin-top: 3em;
}
.cancel-information img {
  width: 100%;
  cursor: pointer;
}

.bank-offer {
  width: 975px;
  height: 166px;
  margin-top: 30px;
  display: flex;
  padding: 10px;
}
.bank-offer div {
  width: 33.3%;
}
.bank-offer div img {
  width: 95%;
}
