.signup-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 810px !important;
    height: 430px !important;
    margin: auto;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}

.signup-left {
    width: 50%;
    height: 100%;
    background: #ffeee8 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.signup-left img {
    width: 350px !important;
    height: 287px !important;
}

.signup-right {
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.signup-container {
    width: auto;
    /* border: 1px solid yellow; */
}
.close-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin: auto;
    padding: 0px 32px;
    padding-bottom: 15px;
    line-height: 74px;
    cursor: pointer;

}
.signup-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 363px;
    margin: auto;
    padding-left: 24px;
    padding-right: 34px;

}
.signup-field {
    width: 100%;
    height: auto;
    

}
.signup-input-field {
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    

}
.signup-input-field input {
    width: 95%;
    height: 36px;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #999;

}

.signup-input-field input:focus{
    outline: none;
    border: 1px solid #36c;
}

.signup-btn {
    width: 100%;
    height: 40px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}


.btn-below-text {
    /* margin-top: 12px; */
    /* font-size: 12px; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
   
}
.btn-below-text div {
    padding-top: 10px;
}




.signup-agreement {
    width: 100%;
    height: 53px;
    margin-bottom: 20px;
}
.bor-color {
    width: 100%;
    border-color: #e6e6e6;
    border-bottom-style: solid;
    border-block-width: 1px;
}
.span-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
    column-gap: 5px;
}
.span-1 .policy {
    color: #36c;
    text-decoration: none;
}
.span-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    color: #36c;
    text-decoration: none;
}